<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Taco Design Form</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1>Design your delicious taco 🌮</h1>
<img src="/images/TacoCloud.jpg" alt="logo" width="300"/>

<form name="taco" method="post">
  {{#ingredientsError}}
  <span class="validationError">{{ingredientsError}}</span>
  {{/ingredientsError}}

  <div class="grid">
    <div class="ingredient-group" id="wraps">
      <h3>Designate your wrap:</h3>
      {{#wrap}}
      <div>
        <label><input name="ingredients" type="checkbox"
                      value="{{id}}"/></label>
        <span>{{name}}</span><br/>
      </div>
      {{/wrap}}
    </div>

    <div class="ingredient-group" id="proteins">
      <h3>Pick your protein:</h3>
      {{#protein}}
      <div>
        <label><input name="ingredients" type="checkbox"
                      value="{{id}}"/></label>
        <span>{{name}}</span><br/>
      </div>
      {{/protein}}
    </div>

    <div class="ingredient-group" id="cheeses">
      <h3>Choose your cheese:</h3>
      {{#cheese}}
      <div>
        <label><input name="ingredients" type="checkbox"
                      value="{{id}}"/></label>
        <span>{{name}}</span><br/>
      </div>
      {{/cheese}}
    </div>

    <div class="ingredient-group" id="veggies">
      <h3>Determine your veggies:</h3>
      {{#veggies}}
      <div>
        <label><input name="ingredients" type="checkbox"
                      value="{{id}}"/></label>
        <span>{{name}}</span><br/>
      </div>
      {{/veggies}}
    </div>

    <div class="ingredient-group" id="sauces">
      <h3>Select your sauce:</h3>
      {{#sauce}}
      <div>
        <label><input name="ingredients" type="checkbox"
                      value="{{id}}"/></label>
        <span>{{name}}</span><br/>
      </div>
      {{/sauce}}
    </div>
  </div>

  <div>
    <h3>Name your taco creation:</h3>
    <label><input type="text" name="name"
                  value="{{#taco.name}}{{taco.name}}{{/taco.name}}"
                  placeholder="Super Taco!"/></label>
    {{#nameError}}
    <span class="validationError">{{nameError}}</span>
    {{/nameError}}
    <br/>
    <br/>
    <button>Submit Your Taco</button>
  </div>
</form>
</body>
</html>
