<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Taco Order Form</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<form name="order" method="POST" action="/orders">
  <h1>Order your taco creations!</h1>

  <img src="/images/TacoCloud.jpg" alt="logo" width="300"/>

  <h3>Your tacos in this order:</h3>
  <a href="/design" id="another">Design another taco</a><br/>
  <ul>
    {{#tacoDesigns}}
    <li><span>{{name}}</span></li>
    {{/tacoDesigns}}
  </ul>

  <h3>Deliver my taco masterpieces to...</h3>
  <label for="deliveryName">Name: </label>
  <input id="deliveryName" name="deliveryName" type="text"
         value="{{#tacoOrder.deliveryName}}{{tacoOrder.deliveryName}}{{/tacoOrder.deliveryName}}"/>
  {{#deliveryNameError}}
  <span class="validationError">{{deliveryNameError}}</span>
  {{/deliveryNameError}}
  <br/>

  <label for="deliveryStreet">Street address: </label>
  <input id="deliveryStreet" name="deliveryStreet" type="text"
         value="{{#tacoOrder.deliveryStreet}}{{tacoOrder.deliveryStreet}}{{/tacoOrder.deliveryStreet}}"/>
  {{#deliveryStreetError}}
  <span class="validationError">{{deliveryStreetError}}</span>
  {{/deliveryStreetError}}
  <br/>

  <label for="deliveryCity">City: </label>
  <input id="deliveryCity" name="deliveryCity" type="text"
         value="{{#tacoOrder.deliveryCity}}{{tacoOrder.deliveryCity}}{{/tacoOrder.deliveryCity}}"/>
  {{#deliveryCityError}}
  <span class="validationError">{{deliveryCityError}}</span>
  {{/deliveryCityError}}
  <br/>

  <label for="deliveryState">State: </label>
  <input id="deliveryState" name="deliveryState" type="text"
         value="{{#tacoOrder.deliveryState}}{{tacoOrder.deliveryState}}{{/tacoOrder.deliveryState}}"/>
  {{#deliveryStateError}}
  <span class="validationError">{{deliveryStateError}}</span>
  {{/deliveryStateError}}
  <br/>

  <label for="deliveryZip">Zip code: </label>
  <input id="deliveryZip" name="deliveryZip" type="text"
         value="{{#tacoOrder.deliveryZip}}{{tacoOrder.deliveryZip}}{{/tacoOrder.deliveryZip}}"/>
  {{#deliveryZipError}}
  <span class="validationError">{{deliveryZipError}}</span>
  {{/deliveryZipError}}
  <br/>

  <h3>Here's how I'll pay...</h3>
  <label for="ccNumber">Credit Card #: </label>
  <input id="ccNumber" name="ccNumber" type="text"
         value="{{#tacoOrder.ccNumber}}{{tacoOrder.ccNumber}}{{/tacoOrder.ccNumber}}"/>
  {{#ccNumberError}}
  <span class="validationError">{{ccNumberError}}</span>
  {{/ccNumberError}}
  <br/>

  <label for="ccExpiration">Expiration: </label>
  <input id="ccExpiration" name="ccExpiration" type="text"
         value="{{#tacoOrder.ccExpiration}}{{tacoOrder.ccExpiration}}{{/tacoOrder.ccExpiration}}"/>
  {{#ccExpirationError}}
  <span class="validationError">{{ccExpirationError}}</span>
  {{/ccExpirationError}}
  <br/>

  <label for="ccCVV">CVV: </label>
  <input id="ccCVV" name="ccCVV" type="text"
         value="{{#tacoOrder.ccCVV}}{{tacoOrder.ccCVV}}{{/tacoOrder.ccCVV}}"/>
  {{#ccCVVError}}
  <span class="validationError">{{ccCVVError}}</span>
  {{/ccCVVError}}
  <br/>

  <input type="submit" value="Submit Order"/>
</form>
</body>
</html>
